@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Cabin, monospace;
  font-size: 16px;
  line-height: 1.31;
  color: #49545f;
  background: #eaeef2;
}

.container {
}

.hero {
  width: 100%;
  height: 66.667vw;  /* image aspect ratio */
  background-image: url("../img/IMG_0010a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  color: #fff;
  font-size: 96px;
}

.row {
  width: 90%;
  display: flex;
  margin: 48px auto;
  flex-direction: row;
  align-items: center;
  background: white;
}

.row > * {
  width: 60%;
  height: 60%;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}

.row > .box {
  width: 40%;
}

.box {
  padding: 0 48px;
  margin-bottom: 36px;
  box-sizing: border-box;
  margin-collapse: collapse;
}

.box.drop {
  margin-top: 24px;
}

.drop > p {
  margin: 9px 0;
}

.footer {
  width: 100%;
  color: #eee;
  background: #49545f;
  box-sizing: border-box;
  font-size: 85%;
  padding: 12px 5% 24px 5%;
}

.footer p {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  font-size: 133%;
}

p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  font-weight: 700;
}

.genus {
  font-family: 'Courier New';
  font-size: 90%;
}

@media screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 36px;
  }
  .row {
    margin-bottom: 48px;
    flex-direction: column;
  }
  .row.rev {
    flex-direction: column-reverse;
  }
  .row > *, .row > .box {
    width: 100%;
  }
  .row > *:first-child {
    margin-right: 0;
  }
  .row > *:last-child {
    margin-left: 0;
  }
  .box {
    padding: 60px;
  }
}

