@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Cabin, monospace;
  font-size: 16px;
  line-height: 1.31;
  color: #303942;
  background: #eaeef0;
}

.container {
}

.hero {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 60px;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  color: white;
}

.index-hero {
  height: 66.667vw;  /* image aspect ratio */
  justify-content: start;
  align-items: center;
}

.hero > .img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  color: #fff;
}

.row {
  width: 90%;
  display: flex;
  margin: 48px auto;
  flex-direction: row;
  align-items: center;
  background: white;
}

.row > * {
  width: 60%;
  height: 60%;
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;
}

.row > .box {
  width: 40%;
}

.box {
  padding: 0 48px;
  margin-bottom: 36px;
  box-sizing: border-box;
  margin-collapse: collapse;
}

.box.drop {
  margin-top: 24px;
}

.drop > p {
  margin: 9px 0;
}

.footer {
  width: 100%;
  color: #eaeef0;
  background: black;
  box-sizing: border-box;
  font-size: 85%;
  padding: 12px 5% 24px 5%;
}

.footer p {
  margin-top: 0;
}

h3 {
  margin-top: 0;
  font-size: 133%;
}

p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  font-weight: 700;
}

.pronun {
  font-family: 'Courier New';
  font-size: 90%;
}

.care {
  width: 90%;
  margin: 12px auto;
  background: #eaeef0;
}

.care-hero {
  height: 52vw;
  justify-content: start;
  align-items: flex-start;
}

nav, .aliases {
  color: white;
  margin-top: 24px;
  padding-left: 2em;
  box-sizing: border-box;
  width: 100%;
}

.care-hero > h1 {
  font-size: 96px;
  font-style: italic;
  margin-top: 100px;
}

.care.carebox {
  width: 80%;
  background: white;
  margin: 1em auto;
  padding: 0 2em 1em 2em;
  display: flex;
}

.care .icon {
  flex-basis: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.care .icon img {
  position: relative;
}

.care .carebox h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.care p {
  padding-left: 0;
}

img.light, img.flowers, img.pets {
  top: 0px;
  left: 0px;
}
img.water {
  width: 64px;
  top: 6px;
  left: 8px;
}
img.dirt {
  width: 72px;
  top: 2px;
  left: 6px;
}
img.propagation {
  top: 0px;
  left: 4px;
}
img.ohno {
  width: 74px;
  top: 2px;
  left: 4px;
}

@media screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  img.light, img.flowers, img.pets {
    top: 1.1em;
  }
  img.water {
    top: 1.3em;
  }
  img.dirt, img.propagation, img.ohno {
    top: 1.2em;
  }
}

/*----------------------------------------------------------------------------*/

@media screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 36px;
  }
  .hero {
    font-size: 36px;
  }
  .row {
    margin-bottom: 48px;
    flex-direction: column;
  }
  .row.rev {
    flex-direction: column-reverse;
  }
  .row > *, .row > .box {
    width: 100%;
  }
  .row > *:first-child {
    margin-right: 0;
  }
  .row > *:last-child {
    margin-left: 0;
  }
  .box {
    padding: 60px;
  }
  .care.carebox {
    width: 75%;
  }
}

